<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Dojo</h1>
    <form method="post" action="/add_dojo">
        {% csrf_token %}
        <label for="dojo_name">Name</label>
        <input type="text" id="dojo_name" name="name">
        <label for="dojo_city">City</label>
        <input type="text" id="dojo_city" name="city">
        <label for="dojo_state">State</label>
        <input type="text" id="dojo_state" name="state">
        <button>add</button>
    </form>
    <h1>Add a Ninja</h1>
    <form method="post" action="/add_ninja">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name">
        <label for="author">Dojo</label>
        <select type="select" name="author" id="author">
            {%for dojo in Dojos%}
                        <option>{{dojo.name}}</option>
                    {%endfor%}
        </select>
        <button>add</button>
    </form>
    
       <div >
        <h1>All the Dojos</h1>
        {% for dojo in Dojos %}
        <div id="infoAndDelete">
            <p>Ninjas at the {{dojo.name}}</p>
            <form action="/delete" method="post">
                {% csrf_token %}
                <button id="id" class="btn btn-danger" name="id" value="{{dojo.id}}">DELETE</button>
                {% for ninja in dojo.ninjas.all %}
                <li>{{ninja.first_name}} , {{ninja.last_name}}</li>
        {%endfor%} {%endfor%}
            </form>
        </div>
    </div>
</body>
</html>