<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add an Author</h1>
    <form action="/add_author" method="post">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        <button>Add</button>
    </form>
        <table>
            <td>ID</td>
            <td>Name</td>
            <td>Action</td>
            {% for i in authors %}
                <tr>{{i.id}}</tr>
                <tr>{{i.first_name}} {{i.last_name}}</tr>
                <tr><a href="authors/{{i.id}}">View</a></tr>
            {%endfor%}
        </table>
</body>
</html>